<!DOCTYPE html>
<html>
<head>
  <title>WebSqlmap</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="jumbotron">
    <h1>WebSqlmap Project</h1>
    <p>using sqlmapapi</p>
  </div>
  <div class="row">
    <div class="col-sm-4">
        <h3><a href="/scan/newscan">Create task</a></h3>
      <p>建立sqlmap任务！</p>
    </div>
    <div class="col-sm-4">
        <h3><a href="/scan/list">Manage tasks</a></h3>
      <p>查看任务列表！</p>
    </div>
    <div class="col-sm-4">
      <h3><a href="/scan/succ">Successful tasks</a></h3>
      <p>查看存在注入的任务！</p>
    </div>
  </div>
</div>

</body>
</html>
